@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}



body {
	background-image: url(log.jpeg);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.wrapper {
    width: 420px;
    background: transparent;
    backdrop-filter: blur(8px);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.wrapper h1 {
    font-size: 36px;
    text-align: center;
    margin-bottom: 20px;
    color: palevioletred;
}

.input-box {
    position: relative;
    width: 100%;
    margin: 15px 0;
}

.input-box input {
    width: calc(100% - 40px);
    height: 50px;
    background: antiquewhite;
    border: none;
    outline: none;
    border: 2px solid rgb(255, 255, 255, .2);
    border-radius: 25px;
    font-size: 16px;
    color: palevioletred;
    padding: 0 20px;
}

.input-box i {
    position: absolute;
    right: 60px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
    color: white;
}
.custom-select {
  width: 100%; /* Adjust the width as needed */
  padding: 10px; /* Add padding to make it visually appealing */
  font-size: 16px; /* Set the font size */
  margin-bottom: 20px; /* Add some space at the bottom */
}

.submit-box {
    text-align: center;
}

.submit-box input {
    width: 100%;
    height: 50px;
    background: #3498db;
    border: none;
    outline: none;
    border-radius: 25px;
    font-size: 18px;
    color: white;
    cursor: pointer;
    transition: background 0.3s ease;
}

.submit-box input:hover {
    background: #2980b9;
}

.signup-link {
    margin-top: 20px;
    text-align: center;
}

.signup-link p {
    color: white;
    font-size: 16px;
}

.signup-link a {
    color: #3498db;
    text-decoration: none;
    font-weight: bold;
}

.forget-password {
    margin-top: 15px;
    text-align: center;
}

.forget-password p {
    font-size: 14px;
    color: #666;
    margin: 0;
}

.forget-password a {
    color: #4CAF50;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
}

.forget-password a:hover {
    color: #45a049;
    text-decoration: underline;
}

.signup-link a:hover {
    text-decoration: underline;
}